
<h1> <b>Video Game Championship Background</b></h1>
<p>

  The format for the Video Game Championships, first staged in 2009 in San Diego, 
  California is virtually the same as the TCG counterparts in which winners of 
  those in the National tournament play. In 2010, a Last Chance Qualifier was held on Friday 
  to fill all vacant spots. In 2011, a Masters age Division was added to parallel the TCG. 
  The most recently released Pokémon game is used for battles. 
  The in-battle rules and banned Pokémon vary from year to year. 
  Usually, the battles are double battles, and each player can use four Pokémon. 
  The event format consists of Swiss rounds, followed by a single elimination tournament. 
  In 2009, the top two advanced to play the finals on Sunday, whereas since 2010, 
  the top eight advance to play in a head-to-head single elimination event to decide the World Champions.
</p>

<ul>

  <li>2009 — Pokémon Platinum</li>
  <li>2010 — Pokémon HeartGold and SoulSilver</li>
  <li>2011 — Pokémon Black and White</li>
  <li>2012 — Pokémon Black and White</li>
  <li>2013 — Pokémon Black 2 and White 2</li>
  <li>2014 — Pokémon X and Y</li>
  <li>2015 — Pokémon Omega Ruby and Alpha Sapphire</li>
  <li>2016 — Pokémon Omega Ruby and Alpha Sapphire</li>
  <li>2017 — Pokémon Sun and Moon</li>
  <li>2018 — Pokémon Ultra Sun and Ultra Moon</li>

      


</ul>




